120 ICON "unicon_images/main_icon2_a0.ico"
121 ICON "unicon_images/main_icon2_a1.ico"
122 ICON "unicon_images/main_icon2_a2.ico"
123 ICON "unicon_images/main_icon2_a3.ico"

130 ICON "unicon_images/main_icon2_m0.ico"
131 ICON "unicon_images/main_icon2_m1.ico"
132 ICON "unicon_images/main_icon2_m2.ico"
133 ICON "unicon_images/main_icon2_m3.ico"

140 ICON "unicon_images/main_icon2_u0.ico"
141 ICON "unicon_images/main_icon2_u1.ico"
142 ICON "unicon_images/main_icon2_u2.ico"
143 ICON "unicon_images/main_icon2_u3.ico"